{% extends 'base.html' %}
{% block header %}
<title>profile</title>
<style>
  @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

  header {
    height: 100vh;
    opacity: 0.3;
  }

  .login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff
  }

  .login-box h1 {
    float: left;
    font-size: 40px;

    margin-bottom: 40px;
    padding: 13px 0;
  }

  .text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;


  }

  .text-box i {
    width: 26px;
    float: left;
    text-align: center;
  }

  .text-box input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

  .btn {
    outline: none;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  hr {
    border: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0c002b, #25d6ee);
  }


  .btn-box {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;

  }

  .btn {
    position: absolute;
    width: 100%;
    padding: 10px;

  }

  .span_1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #0c002b, #28fa5d);
    animation: anim1 2s linear infinite;
  }

  .span_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #28fa5d);
    animation: anim2 2s linear infinite;
  }

  .span_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #0c002b, #28fa5d);
    animation: anim3 2s linear infinite;
  }

  .span_4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #28fa5d);
    animation: anim4 2s linear infinite;
  }

  .span_1d {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #0c002b, #f82a2a);
    animation: anim1 2s linear infinite;
  }

  .span_2d {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #f82a2a);
    animation: anim2 2s linear infinite;
  }

  .span_3d {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #0c002b, #f82a2a);
    animation: anim3 2s linear infinite;
  }

  .span_4d {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #f82a2a);
    animation: anim4 2s linear infinite;
  }

  @keyframes anim1 {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes anim2 {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(100%);
    }
  }

  @keyframes anim3 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes anim4 {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(-100%);
    }
  }
</style>
{% endblock %}

{% block content %}


<form action="/profile" class="login-box" method="POST">
  {% if user %}

  <div class="text-box">
    <i class="fa fa-user"></i>
    <input type="text" id="name" name="username" value={{user.Username}} placeholder="Username">
  </div>
  <hr>
  <div class="text-box">
    <i class="fa fa-envelope"></i>
    <input type="text" id="emailid" name="email" value={{user.Email}} readonly>
  </div>
  <hr>
  <div class="text-box">
    <i class="fa fa-lock"></i>
    <input type="text" id="pass" name="pass" value={{user.Password}} placeholder="Password">
  </div>
  <hr>
  {% if user.Gender=='Male' %}
  <i class="fa fa-venus-mars"></i>
  <input type="radio" id="gender" name="gender" value="Male" checked>Male
  <input type="radio" id="gender" name="gender" value="Female">Female
  {% else %}
  <i class="fa fa-venus-mars"></i><input type="radio" id="gender" name="gender" value="Male">Male
  <input type="radio" id="gender" name="gender" value="Female" checked>Female
  {% endif %}
  <br>
  <hr>
  <br>
  <div class="btn-box">
    <button type="submit" class="btn">Update profile</button>
    <span class="span_1"></span>
    <span class="span_2"></span>
    <span class="span_3"></span>
    <span class="span_4"></span>
  </div><br>
  <div class="btn-box">
    <button class="btn" formaction='/delete_account'>Delete account</button>
    <span class="span_1d"></span>
    <span class="span_2d"></span>
    <span class="span_3d"></span>
    <span class="span_4d"></span>
  </div>
  {% endif %}
</form>
{% if msg %}
<script>
  toastr.success('Profile Updated Successfully')
</script>
{% endif %}
{% endblock%}